*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-size :20px;
   font-family: sans-serif;
}
body{
	background-image: linear-gradient(
	to right,
	rgb(200,200,232),
	rgb(137,132,214)
);
}
.student-container{
	width: 500px;
	height: auto; 
	background-color: whitesmoke;
	margin: 20px 20%;
	padding: 20px;
	border-radius: 20px;

}
input{
	width: 100%;
	margin-bottom: 10px;
	border :none;
	outline: none;
	background-color: transparent;
	border-bottom: 2px  solid black;
	margin-top: 10px;

}
.btn input{
	width: 40%;
	margin: 20px;
	border:none;
	background-color: orange;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
    
   } 
   .btn input:hover{
   	transform: scale(0.9);
   	box-shadow: 0px 0px 8px  grey;
}
h2 {
	margin-bottom: 20px;
}
.student-data{
	margin-top: 50px;
	width: 80%px;
	height: 500px;
	background-color: white;
	margin-left: 10%;

}
   

